.back {
  display: inline-block;
  position: absolute;
}
.key {
  margin-left: 85%;
  display: inline-block;
  border: 1px solid black;
  padding-right: 1vh;
}
a {
  color:#F55358;
}

a:hover {
  color:  #44DDEE;
}