.navbar {
background-color: transparent !important;
}
body {
background-color: #e6e6e6;
color: white;
}
a {
color: white !important;
text-shadow: 2px 2px #000 !important;
}
.navbar-nav a:hover {
text-decoration: underline;
}
.icon {
width: 5vh;
margin-right: 5%;
margin-left: 5%;
}
html,
body,
header,
#intro {
height: 100%;
}
#intro {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.5),
rgba(0, 0, 3, 0.5)
),
url(vectors/background.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
#name {
color: #F55358 !important;
text-shadow: 1px 1px 2px black !important;
}
#opener {
color: #44DDEE !important;
text-shadow: 1px 1px 2px black !important;
font-size: 7vh;
}
#paragraph {
text-shadow: 1px 1px 5px black !important;
}
.text-of-center {
color: white !important;
}
.logo {
width: 2vh;
}
.nav-item {
font-size: 24px !important;
}
.text-container {
padding-top: 50vh;
}
.text-holder {
font-size: 5vh;
}
.color {
background-color: #010001;
height: 100%;
}
.foot {
height: 10vh;
}
.icons {
padding-top: 2vh;
}
#josh {
text-shadow: 0px 0px 0px black !important;
color: #010001 !important;
}
.form-hold {
background-color: #010001;
padding-top: 30vh;
height: 100%;
}
.buttonColor {
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4px;
background-color: #f55358;
border-color: #f55358;
color: white;
transition-duration: 0.4s;
text-shadow: 1px 1px 5px black !important;
}
.buttonColor:hover {
	background-color: #44DDEE;
	border-color: #44DDEE;
	text-shadow: 1px 1px 5px black !important;
}
