body {
  background-color: white;
  color: #333333;
  letter-spacing: 0.1em;
  scroll-behavior: smooth;
}

a {
  color: #f55358 !important;
  transition: 0.3s;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 2em;
  font-family: "Lato", sans-serif;
}

html,
body,
header,
#intro {
  height: 100%;
}

/* nav style */
@media only screen and (max-width: 600px) {
  .navbar {
    background-color: white;
  }
  .navbar a {
    color: #333333 !important;
    text-shadow: 0 0 0 !important;
  }
  .navbar-toggler-icon {
    background-image: url("vectors/hamburger_scrolled.png") !important;
  }
}

.nav-link {
  color: white !important;
  font-size: 0.5em;
  text-transform: uppercase;
}

.navbar-default {
  z-index: 1;
  transition: 500ms ease;
  background:rgba(50,50,50,0.6);
}

.navbar-default.scrolled  .navbar-toggler-icon {
  background-image: url("vectors/hamburger_scrolled.png") !important;
}

.navbar-default .navbar-toggler-icon {
  background-image: url("vectors/hamburger.png") !important;
}


.navbar-nav a:hover {
  color: #f55358 !important;
}

.nav-item {
  z-index: 2 !important;
  font-size: 25px !important;
}

.active a {
  color: #44DDEE !important;
}

/* Opening background image style and text */
.front-page-text {
  color: #333333;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #F55358;
}

#intro {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(159, 159, 159, 0.5)),
    url(vectors/background_old.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-basis: 250px;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.562);
}

.text-holder h3 {
  color: white;
}

.text-holder h1 span {
  color: #F55358;
}

/* To Do List list group style */

.card-link {
  color: #333333 !important;
  text-shadow: 0 0 0 !important
}
.card-header {
  background-color: lightgrey;
}

/* Footer style */

.icon {
  width: 5vh;
  margin: 1%;
}

.text-of-center {
  color: white !important;
}

/* Other pages style */
#josh {
  text-shadow: 0px 0px 0px #333333 !important;
  color: #333333 !important;
}

/* About Page style */
.about-holder {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.10)),
    url(vectors/aboutbackground_old.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-holder .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.432);
}

.about-paragraph {
  color: white;
}
.tech {
  padding: 5%;
}
.tech h1, .tech h2 {
  color: #333333;
}
.webdev {
  padding: 5%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1%;
}

.received-page {
  height: 100%;
  background-image: url(https://i.imgur.com/cp0FliG.gif);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.received-page a {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 2vh;
  letter-spacing: 0.3em;
  color: green;
}

.received-page h1 {
  padding: 10%;
  color: black;
  font-size: 10vh;
  font-family: 'Staatliches', cursive !important;
}
