nav {
    background-color:#333333;
}
body {
    height: 100%;
}

.form-hold {
    background-color: #fff;
    padding-top: 30vh;
    height: 100%;
    color: #333333;
}
  
  .form-hold h1 {
    color: #333333;
}
  
  .buttonColor {
    color: #fff;
    width: 150px;
    height: 50px;
    background-color: #f55358;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease; 
  }
  
  .buttonColor:hover {
    background-color: #44DDEE;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
  }

.form-hold input {
    border: none;
    border-bottom: 1px solid #333333;
    border-radius: 0;
}

.form-hold textarea {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333333;
}

.form-hold input:focus {
    background-color: lightgrey;
}

.form-hold textarea:focus {
    background-color: lightgrey;
}

.form-hold h1 {
    text-align: center;
    font-size: 5vh;
}
.middle {
    padding-top: 5%;
    padding-right: 25%;
    padding-left: 25%;
}