.bookList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 2s;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 400px;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #6f6f6f1c;
}

.book img {
  object-fit: cover;
  height: 250px;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .book {
    background-color: #262525;
  }
}
