.bookList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 2s;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 400px;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
  border: 1px solid #6f6f6f1c;
}

.book img {
  object-fit: cover;
  height: 250px;
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028),
    0 0px 8.3px rgba(253, 253, 253, 0.042), 0 0px 10px rgba(0, 0, 0, 0.07);;
}

.add-link-container {
  width: 100%;
  max-width: 992px;
  height: 500px;
  display: grid;
  place-items: center;
}

.add-link-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-link-content input {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #1e1e1e;
  width: 200px;
}

.add-link-content button {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #1e1e1e;
  color: #fefefe;
  background-color: #1e1e1e;
  width: 200px;
}

.add-link-content button:hover {
  background-color: #fefefe;
  color: #1e1e1e;
  cursor: pointer;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .book {
    background-color: #262525;
  }
}
