@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inconsolata:wght@200..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", monospace;
}

html {
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fefefe;
  color: #1e1e1e;
  display: grid;
  place-items: center;
  animation: backgroundChange 120s infinite;
  animation-direction: alternate;
}

hr {
  border: 2px solid #1c1c1c;
}

nav {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1e1e1e;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  border: 1px solid transparent;
}

nav ul li a:hover,
.active {
  background-color: #1e1e1e;
  color: #fefefe;
  padding: 3px;
  transition: all 0.2s ease-in-out;
}

.container {
  margin: 0;
  max-width: 992px;
  width: 80vw;
}

.blobContainer {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

.loadingIndicator {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hoarder-listitem {
  padding: 2px 0;
  list-style: none;
  text-decoration: underline;
}

.hoarder-listitem a:hover {
  background-color: #1e1e1e;
  color: #fefefe;
}

.loader {
  border: 16px solid #dedede;
  border-top: 16px solid #1e1e1e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass:hover {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(200, 200, 200, 0.25),
    rgba(54, 54, 54, 0.15)
  );
}

.blob-text {
  font-family: "DM Serif Text", serif;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: difference;
  text-align: center;
  margin: 0;
  text-align: justify;
  font-size: calc(20vw);
  font-weight: 600;
  transition: all 0.5s;
  text-shadow: 0 1px 4px rgba(31, 38, 135, 0.37);
  z-index: -1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes backgroundChange {
  0% {
    background-color: #5af64f;
  }
  20% {
    background-color: #f02222;
  }
  40% {
    background-color: #9332f4;
  }
  60% {
    background-color: #eb2bae;
  }
  80% {
    background-color: #f4d41d;
  }
  100% {
    background-color: #27ecf0;
  }
}

@keyframes backgroundChange-dark {
  0% {
    background-color: #1a4517;
  }
  20% {
    background-color: #3c0f0f;
  }
  40% {
    background-color: #2c1f3f;
  }
  60% {
    background-color: #3f0f2b;
  }
  80% {
    background-color: #3f3a0f;
  }
  100% {
    background-color: #0f3f3f;
  }
}

@media (prefers-color-scheme: dark) {
  .loader {
    border-color: #262525;
    border-top-color: #dedede;
  }

  body {
    color: #fefefe;
    animation: backgroundChange-dark 120s infinite;
  }

  nav {
    border-bottom-color: #fefefe;
  }

  nav ul li a:hover,
  .active {
    background-color: #fefefe;
    color: #1e1e1e;
  }

  .link-fat,
  .hoarder-listitem a:hover {
    background-color: #fefefe;
    color: #1e1e1e;
  }

  #mark-link {
    color: #1e1e1e;
  }

  #mark-link:hover {
    color: #fefefe;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #fefefe;
  }
}

a.link:hover {
  text-decoration: underline;
}

a.link-fat {
  text-decoration: underline;
}

a.link-fat:hover {
  color: #fefefe;
  background-color: #1e1e1e;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 1em;
  }

  .blobContainer {
    overflow: auto;
  }
}
