@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", monospace;
}

html {
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fefefe;
  color: #1e1e1e;
  display: grid;
  place-items: center;
}

hr {
  border: 2px solid #1c1c1c;
}

nav {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1e1e1e;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  border: 1px solid transparent;
}

nav ul li a:hover,
.active {
  background-color: #1e1e1e;
  color: #fefefe;
  padding: 3px;
  transition: all 0.2s ease-in-out;
}

.container {
  margin: 0;
  max-width: 992px;
  width: 80vw;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

.loadingIndicator {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hoarder-listitem {
  padding: 2px 0;
  list-style: none;
  text-decoration: underline;
}

.hoarder-listitem a:hover {
  background-color: #1e1e1e;
  color: #fefefe;
}

.loader {
  border: 16px solid #dedede;
  border-top: 16px solid #1e1e1e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .loader {
    border-color: #262525;
    border-top-color: #dedede;
  }

  body {
    background-color: #1e1e1e;
    color: #fefefe;
  }

  nav {
    border-bottom-color: #fefefe;
  }

  nav ul li a:hover,
  .active {
    background-color: #fefefe;
    color: #1e1e1e;
  }

  .link-fat,
  .hoarder-listitem a:hover {
    background-color: #fefefe;
    color: #1e1e1e;
  }

  #mark-link {
    color: #1e1e1e;
  }

  #mark-link:hover {
    color: #fefefe;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #fefefe;
  }

}

a.link:hover {
  text-decoration: underline;
}

a.link-fat {
  text-decoration: underline;
}

a.link-fat:hover {
  color: #fefefe;
  background-color: #1e1e1e;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 1em;
  }
}
