@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fefefe;
  color: #1e1e1e;
  display: grid;
  place-items: center;
}

hr {
  border: 1px solid #acacac;
}

nav {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1e1e1e;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 1em;
}

.active {
  background-color: #1e1e1e;
  color: #fefefe;
  padding: 5px;
}

.container {
  margin: 0;
  max-width: 992px;
  width: 80vw;
}

.loadingIndicator {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #fefefe;
  }

  nav {
    border-bottom-color: #fefefe;
  }

  .active {
    background-color: #fefefe;
    color: #1e1e1e;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #fefefe;
  }

  .gridChildContainer {
    background-color: #262525;
  }

  footer,
  footer a svg {
    color: #fefefe !important;
  }
}
