.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
}

.gridChildContainer {
  padding: 40px;
  background-color: #efefef;
  color: #1c1c1c;
  border: 2px solid #eeeeee;
  min-height: 200px;
  transition: ease 0.2s;
  border: 1px solid #6f6f6f1c;
}

.hover:hover {
  background-color: #1c1c1c;
  color: #fefefe;
}

.hover:hover p {
  color: #b1b1b1;
}

.gridChildContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
}

.gridChildContainer div header h4 {
  font-size: 1.4rem;
}

.gridChildContainer div p {
  position: relative;
  color: #6d6d6d;
  font-size: smaller;
}

.gridChildContainer div header hr {
  margin: 10px 0;
}

.intro {
  margin: 50px 0;
  font-size: 1.5em;
}

.intro img {
  width: 70%;
}

#mark-link {
  color: #fefefe;
}

#mark-link:hover {
  text-decoration: underline;
  color: #1c1c1c;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #434343;
}

::selection {
  color: white;
  background: #434343;
}

@media (prefers-color-scheme: dark) {
  .gridChildContainer {
    background-color: #262525;
  }

  .hover:hover div header h4, .hover:hover div p {
    color: #b1b1b1;
  }

  .hover:hover .playlist-title h3 {
    color:#1c1c1c;
  }

  .hover:hover {
    background-color: #fefefe;
    border-color: #6f6f6f1c;
  }
}