.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
}

.gridChildContainer {
  padding: 40px;
  background-color: #efefef;
  color: #1c1c1c;
  border: 2px solid #eeeeee;
  min-height: 200px;
  transition: ease 0.2s;
  border-radius: 6px;
  border: 1px solid #6f6f6f1c;
}

.hover:hover {
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028),
    0 0px 8.3px rgba(254, 0, 0, 0.042), 0 0px 10px rgba(0, 0, 0, 0.07);
  transition: ease 0.2s;
}

.gridChildContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
}

.gridChildContainer div p {
  position: relative;
}

.gridChildContainer div header hr {
  margin: 10px 0;
}

.intro {
  margin: 50px 0;
  font-size: 1.5em;
}

.intro img {
  width: 70%;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #44ddee;
}

::selection {
  color: white;
  background: #44ddee;
}
