.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
}

.gridChildContainer {
  padding: 40px;
  background-color: #efefef;
  color: #1c1c1c;
  min-height: 200px;
  transition: ease 0.2s;
}

.hover:hover {
  cursor: pointer;
}

.gridChildContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
}

.gridChildContainer div header h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gridChildContainer div p {
  position: relative;
  font-size: smaller;
}

.gridChildContainer div header hr {
  margin: 10px 0;
}

.intro {
  margin: 50px 0;
  font-size: 1.5em;
}

.intro h1 {
  font-family: "DM Serif Text", serif;
}

.intro img {
  width: 70%;
}

::-moz-selection {
  color: white;
  background: #434343;
}

::selection {
  color: white;
  background: #434343;
}

@media (prefers-color-scheme: dark) {
  .gridChildContainer {
    background-color: #262525;
    color: #fff;
  }

  .hover:hover div header h4,
  .hover:hover div p {
    color: #ffffff;
  }

  .hover:hover .playlist-title h3 {
    color: #1c1c1c;
  }
}
