.playlist-container {
  margin: 1em 0;
  background-color: #efefef;
  padding: 1em;
  border: 1px solid #6f6f6f1c;
}

.playlist-container:hover {
  box-shadow: 0 0px 2.2px rgb(0 0 0 / 3%), 0 0px 8.3px rgb(254 0 0 / 4%),
    0 0px 10px rgb(0 0 0 / 7%);
  transition: ease 0.2s;
}

.playlist-title {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.playlist-title:hover {
  cursor: pointer;
}

.playlist {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.playlist-frame {
  border: 1px solid transparent;
  width: 70%;
  height: 700px;
}

@media only screen and (max-width: 600px) {
  .playlist-frame {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .playlist-container {
    background-color: #262525;
  }
}
