.projectList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projectList > * {
  margin-bottom: 2em;
}

.projectContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  border: 1px solid #6f6f6f1c;
  padding: 2em;
  width: 100%;
  background-color: #efefef;
  border-radius: 6px;
  min-height: 200px;
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028),
    0 0px 8.3px rgba(251, 251, 251, 0.042), 0 0px 10px rgba(0, 0, 0, 0.07);
}

.projectList .info {
  grid-column: span 2 / auto;
}

.projectContent .actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  direction: rtl;
}

.projectContent .actions a {
  border: 1px solid #1c1c1c;
  padding: 10px;
  border-radius: 6px;
  transition: ease 0.3s;
  text-align: center;
  margin: 1em;
}

.projectContent .actions a:hover {
  background-color: #1c1c1c;
  color: #fefefe;
}

@media (prefers-color-scheme: dark) {
  .projectContent {
    background-color: #262525;
    border-color: #454343;
  }
  .projectContent .actions a {
    border-color: #454343;
  }
}
