.projectList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projectList > * {
  margin-bottom: 2em;
}

.projectContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  border: 1px solid #6f6f6f1c;
  padding: 2em;
  width: 100%;
  background-color: #efefef;
  min-height: 200px;
  border: 1px solid #6f6f6f1c;
}

.projectList .info {
  grid-column: span 2 / auto;
}

.projectList .info h2 {
  margin-bottom: 10px;
}

.projectContent .actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  direction: rtl;
}

.projectContent .actions a {
  border: 1px solid #1c1c1c;
  padding: 10px;
  transition: ease 0.3s;
  text-align: center;
  margin: 1em;
  display: grid;
  place-items: center;
}

.projectContent .actions a:hover {
  background-color: #1c1c1c;
  color: #fefefe;
}

.projectContent .actions a:hover svg {
  stroke: #fefefe;
}

@media (prefers-color-scheme: dark) {
  .projectContent {
    background-color: #262525;
    border-color: #454343;
  }
  .projectContent .actions a {
    border-color: #454343;
  }
  .projectContent .actions a:hover {
    color: #1c1c1c;
    background-color: #fefefe;
  }

  .projectContent .actions a:hover svg {
    stroke: #1c1c1c;
  }

  .projectContent .actions svg {
    stroke: #fefefe;
  }
}
