footer {
  margin: 50px 0;
  min-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  text-align: center;
}

footer ul li {
  list-style-type: none;
}

footer ul li a svg:hover {
  stroke: #585858;
}

.current-build {
  width: 100%;
  display: grid;
  place-items: center;
  color: #858484;
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  bottom: 1em;
}

.current-build a:hover {
  text-decoration: underline;
}
